.input-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#messageinput {
  height: 100px;
  padding: 8px; /* Makes sure text starts from top-left */
  box-sizing: border-box; /* Ensures padding doesn't mess with height */
  resize: vertical; /* Allows user to resize height if needed */
}
