@import 'tailwindcss';

* {
  margin: 0px;
  box-sizing: border-box;
  background-color: #000319;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

span {
  color: #4ade80;
}

/* Tailwind + PostCSS required */
.container-section {
  @apply w-full sm:w-[95%] md:w-[90%] lg:w-[850px] xl:w-[1200px] 2xl:w-[1450px] px-[20px] sm:px-0 mx-auto;
}
